body{
    background-color: #f6bd60
}

.pagetitle{
    color: #577590;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    font-family: Serif;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    padding-left: 7%;
    margin: 2% 1% 0% 1%;
}


.row .pagetitle{
    .pagetitle{
    color: #577590;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    font-family: Serif;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    margin: 2% 1% 0% 1%;
}
}
a:link, a:hover, a:visited{
    color: inherit;
}

.entertext{
    color: #9e2a2b;
    display: block;
    font-size:large;
    text-align: center;
    font-weight: bold;
}

h3{
    font-size:medium;
    text-align: center;
}

.form-group label{
    font-weight:bold;
}

.container{
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.img-fluid{
    max-width:400%;
    align-content: right;
}

.row{
    flex-wrap:wrap;
}

.col-sm-10{
    padding-bottom: 5%;
}

.col-sm-12{
    align-content: center;
    justify-content: center;
}

.btn btn-primary{
    align-content: center;
}

.col-sm-8{
    padding-left: 5%;
    padding-right:5%;
    align-content: center;
}

.col-sm-4{
    align-content: center;
}

form{
    align-items: center;
}