<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shake the Sphere!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="user.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <img src="shakespeare_drawing-removebg-preview.png" class="img-fluid">
            </div>
            <div class="col-sm-10">
                <h1 class="pagetitle"><a href="random.html" style="text-decoration: none"> Shake The Sphere!</a></h1>
                <h3>A writing game to make Shakespeare quake in his grave</h3>
            </div>
        </div>
    </div>
</header>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
        <form action="{% url 'main:submit' %}" method="post">>
            {% csrf_token %}
            <h2 class="entertext"> Source Text </h2>
            <p>A team of physicists at a university in the Netherlands have 3D-printed a microscopic version of the USS Voyager, an Intrepid-class starship from Star Trek. The miniature Voyager, which measures 15 micrometers (0.015 millimeters) long, is part of a project researchers at Leiden University conducted to understand how shape affects the motion and interactions of microswimmers. Microswimmers are small particles that can move through liquid on their own by interacting with their environment through chemical reactions. The platinum coating on the microswimmers reacts to a hydrogen peroxide solution they are placed in, and that propels them through the liquid.<p>
            <h2 class="entertext">
            Rewrite the given text but with the following characteristics:
            30% Audience Approriate-ness: Medium,  30% Neutrality: Neutral, 20% Accuracy, 20% Plagiarism
            </h2>
            <input type="text" name = "RoomCode" value="Room Code">
            <input type="text" name = "Username" value="Username">
            <input type="text" name = "Answer" value="Submission">
            <input type="submit" value="Submit">
        </form>
        </div>
    </div>
</div>
</body>
</html>
